.top-photo{
  height: 30rem;
  background: url("top.jpg");
  text-align: center;
  background-size: cover;
  margin-top: -1rem;
}
.search-box{
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cafe-name{
  text-align: center;
}
.content-box{
  text-align: center;
  padding: 2rem;
}
